@using VisitorDetails.Models
@using Microsoft.Extensions.Options

@inject IOptions<SystemSetting> ApplicationSettings

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VisitorDetails</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/slider.css" />

    <script src="~/js/modals.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img class="NavLogo" src="~/images/WestLondonCollegeLogo.png" alt="West London College" />
                Visiting @Model.SiteName Campus
            </a>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <span class="text-muted">
                        <i class="far fa-copyright"></i> 2020-2022 West London College
                    </span>
                </div>
                <div class="col-5 text-right">
                    <span class="text-muted">Visitor Details @ApplicationSettings.Value.Version</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/lib/marked/marked.min.js" asp-append-version="true"></script>
    <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js" asp-append-version="true"></script>
    <script src="~/lib/ScrollMagic/ScrollMagic.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/lib/ScrollMagic/plugins/debug.addIndicators.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)
    <script src="~/js/expressive.annotations.validate.js" asp-append-version="true"></script>

</body>
</html>
